.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4B9D3D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SIDEBAR STYLES */
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
  height: 100vh;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #4B9D3D;
  color: #fff;
  transition: all;
}

.menu-icon {
  display: none !important;
}

